appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
cssselect==1.1.0
CurrencyConverter==0.14.4
fake-useragent==0.1.11
forex-python==1.5
idna==2.10
lxml==4.6.2
multitasking==0.0.9
numpy==1.18.1
pandas==1.2.0
parse==1.18.0
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.0
requests-html==0.10.0
scipy==1.5.4
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
tqdm==4.54.1
urllib3==1.26.2
w3lib==1.22.0
websockets==8.1
yahoo-fin==0.8.6
yfinance==0.1.55
